[submodule "elisp/slime"]
	path = elisp/slime
	url = git://github.com/slime/slime.git
[submodule "elisp/better-defaults"]
	path = elisp/better-defaults
	url = git://github.com/ultrahertz/better-defaults
